@{
    ViewData["Title"] = "Power BI Embedded";
}

<div class="container mt-10">
    <h2>Tableau de bord Power BI</h2>

    <div class="ratio ratio-16x9">
        <iframe title="powerbilogs"
                width="100%" height="600"
                src="https://app.powerbi.com/view?r=eyJrIjoiOTQ0ZTNkNjItYjhhYi00NjZiLWFkODEtZDUwMDgzMTg1YzhmIiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9"
                frameborder="0"
                allowfullscreen="true">
        </iframe>
    </div>
</div>
